.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container h3 {
    margin: 0 0 10px 0;
    text-align: center;
}
.container h1 {
    margin: 10px;
    text-align: center;
}
.productWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.postProductWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container input {
    height: 20px;
    width: 170px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0 5px 0;
    border: 1.5px solid rgb(87, 147, 85);
    background: rgb(228, 248, 234);
    outline: 0;
}
.container select {
    height: 30px;
    width: 40px;
    padding-left: 5px;
    text-align: center;
    border-radius: 5px;
    margin: 5px 0;
    border: 1.5px solid rgb(87, 147, 85);
    background: rgb(228, 248, 234);
}
.sendBtn {
    border-radius: 5px;
    border: 1px solid rgba(128, 149, 129, 0.503);
    padding: 5px 10px;
    margin-top: 10px;
}
.sendBtn:hover {
    cursor: pointer;
    background-color: seagreen;
    transition: 0.2s;
}
.sendBtn:active {
    outline: 0 !important;
    transform: translateY(2px);
    transition-timing-function: ease;
}
.sendBtn:focus {
    outline: 0 !important;
}