/* CARD */
.card {
    border: 1px #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 8px;
    margin: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.card-body {
    margin-bottom: 8px;
}
.card-body h5 {
    margin: 0;
    text-align: center;
}
.product-rating {
    margin: 0;
}
.deleteBtn {
    border-radius: 5px;
    border: 1px solid rgba(128, 149, 129, 0.503);
    padding: 5px 10px;
    margin: 0;
}
.deleteBtn:hover {
    background-color: seagreen;
    cursor: pointer;
    transition: 0.2s;
}
.deleteBtn:active {
    outline: 0 !important;
    transform: translateY(2px);
    transition-timing-function: ease;
}
.deleteBtn:focus {
    outline: 0 !important;
}